# Resend API Key from https://resend.com
RESEND_API_KEY="re_123456789"

# The "From" address (Must be a domain verified in Resend)
# Example: "onboarding@resend.dev" or "contact@yourdomain.com"
CONTACT_FROM_EMAIL="contact@company.com"

# The "To" address (Where you want to receive the notifications)
CONTACT_TO_EMAIL="yourpersonal@gmail.com"